<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <!--&lt;!&ndash;设置日志输出为控制台&ndash;&gt;-->
    <!--<appender name="console" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<encoder>-->
            <!--<pattern>%d{yyyy-MM-dd-HH:mm:ss.SSS} %-4level [%X{userId}] [%X{requestId}] %logger - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--&lt;!&ndash;设置日志输出为文件&ndash;&gt;-->
    <!--<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<File>D:/soft/df_log/logFile.log</File>-->
        <!--<rollingPolicy  class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<FileNamePattern>D:/soft/df_log/logFile.%d{yyyy-MM-dd_HH-mm}.log</FileNamePattern>-->
        <!--</rollingPolicy>-->

        <!--<layout class="ch.qos.logback.classic.PatternLayout">-->
            <!--<Pattern>%d{HH:mm:ss,SSS} [%thread] %-5level %logger{32} - %msg%n</Pattern>-->
        <!--</layout>-->
    <!--</appender>-->

    <!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出 -->
    <appender name="INFO"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>D:/soft/df_log/df_info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>D:/soft/df_log/df_info.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>50MB</MaxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ch.qos.logback.core.rolling.RollingFileAppender 异常日志输出 -->
    <appender name="ERROR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>D:/soft/df_log/qc_error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>D:/soft/df_log/qc_error.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>50MB</MaxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--打印info级别的日志-->
    <logger name="infoLog" level="info" additivity="false">
        <appender-ref ref="INFO" />
    </logger>

    <!--&lt;!&ndash;打印异常错误日志&ndash;&gt;-->
    <!--<logger name="errorLog" level="error" additivity="false">-->
        <!--<appender-ref ref="ERROR" />-->
    <!--</logger>-->

    <!--&lt;!&ndash; 日志级别 &ndash;&gt;-->
    <!--<root level="debug">-->
        <!--<appender-ref ref="STDOUT" />-->
    <!--</root>-->

    <root level="info">
        <appender-ref ref="INFO" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR" />
    </root>

    <!--<root>-->
        <!--<level value="DEBUG"/>-->
        <!--<appender-ref ref="console"/>-->
        <!--<appender-ref ref="FILE"/>-->
    <!--</root>-->

</configuration>